<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%} BBS django {% endblock%}</title>
    <style>
        body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{
            margin:0;
            padding:0;
        }
        ul,ol,li{
            list-style:none
        }
        a{
            color:#000;
            text-decoration:none
        }
    </style>
</head>
<body>
    <div>
        {% block content %} content {% endblock%}
    </div>
    <div>
        {% block footer%} footer {% endblock %}
    </div>
</body>
</html>